@* Navigation Menu - Collapsible on mobile, top-right positioning *@

<div class="navbar bg-base-100 shadow-lg">
	<div class="navbar-start">
		<a href="/" class="btn btn-ghost text-xl">
			<span class="text-primary">🏆</span> TournamentApp
		</a>
	</div>

	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal px-1">
			<li><a href="/" class="btn btn-ghost">Home</a></li>
			<li><a href="/tournaments" class="btn btn-ghost">Tournaments</a></li>
			<li>
				<details>
					<summary class="btn btn-ghost text-info">🔧 Dev Tools</summary>
					<ul class="p-2 bg-base-100 rounded-box z-50">
						<li><a href="/test-connection">Connection Test</a></li>
						<li><a href="/test-database">Database Test</a></li>
					</ul>
				</details>
			</li>
		</ul>
	</div>

	<div class="navbar-end">
		@* Desktop menu - always visible on large screens *@
		<div class="hidden lg:flex items-center gap-2">
			@* For now, showing logged out state - we'll add auth in next steps *@
			<a href="/login" class="btn btn-primary">Login</a>
		</div>

		@* Mobile hamburger menu *@
		<div class="dropdown dropdown-end lg:hidden">
			<label tabindex="0" class="btn btn-ghost">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
				</svg>
			</label>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li><a href="/">Home</a></li>
				<li><a href="/tournaments">Tournaments</a></li>
				<li class="menu-title">
					<span class="text-info">🔧 Dev Tools</span>
				</li>
				<li><a href="/test-connection">Connection Test</a></li>
				<li><a href="/test-database">Database Test</a></li>
				<li class="border-t mt-2 pt-2"><a href="/login" class="text-primary font-semibold">Login</a></li>
			</ul>
			@* <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li><a href="/">Home</a></li>
				<li><a href="/tournaments">Tournaments</a></li>
				<li><a href="/test-connection" class="text-info">🔌 Test DB</a></li>
				<li class="border-t mt-2 pt-2"><a href="/login" class="text-primary font-semibold">Login</a></li>
			</ul>		 *@	
		</div>
	</div>
</div>

@code
{


	// Auth state will be added in Step 5

}